:root {
  --color-dark-accent: #798768;
  --color-dark-text: #eee;
  --color-dark-bg: #222;

  --color-light-accent: #648b34;
  --color-light-text: #333;
  --color-light-bg: #eee;

  --color-accent: var(--color-light-accent);
  --color-text: var(--color-light-text);
  --color-bg: var(--color-light-bg);

  --transition-time: 1s;
  --easing: ease-out;
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.no-animate {
  transition: all 0s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-text);

  transition:
    background-color var(--transition-time) var(--easing),
    color var(--transition-time) var(--easing);
}

main, footer {
  text-align: center;
}

main {
  margin-top: 30vh;
}

footer {
  margin: 2em;
}

a {
  cursor: pointer;
  color: var(--color-accent);
  transition: color var(--transition-time) var(--easing);
}

.unselectable {
  user-select: none;
}

html.dark * {
  --color-accent: var(--color-dark-accent);
  --color-text: var(--color-dark-text);
  --color-bg: var(--color-dark-bg);
}

#output {
  font-size: 16vw;
  user-select: none;
}
